body {
    background: #ddd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #eaece5;
}


.active {
  background-color: #ddd;
  padding-bottom: 12px;
}
li {
  float: right;
}

li a {
  text-decoration: none;
}

#HomeName {
  float:left;
   
}

li a, .dropbtn {
  display: inline-block;
  color: rgb(8, 8, 8);
  text-align: center;
  padding: 12px 16px;
  text-decoration: none; 
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  text-decoration: none;
  color: #667292;
  padding-bottom:XXpx;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #eaece5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {
  display: block;
}

p {
  font-size: 14px;
  font-family: Courier;
}

h4 {
  font-size: 18px;
  color: #484f4f;
  text-decoration-style: none ;
}
.container {
    background-color: #ddd;
    margin-top: 5 !important;
}

.mt-5 {
    margin-top: 5 !important;
    background-color: #ddd;
  }

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #c6c4d1;
}

.table>tbody>tr>td {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-stretch: ;
  font-size: 12px
}